.points-badge {
  min-width: 80px;
  height: 45px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: $light-pink;
  border: 2px solid $badge-red;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    position: relative;

    .optimum {
      display: flex;
      justify-content: center;
      margin-top: 2px;
      margin-right: 5px;
    }

    .circle {
      position: absolute;
      right: -15px;
      top: -13px;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    color: $badge-red;
    font-family: 'Noir Std';
    font-stretch: normal;
    font-weight: 600;
    font-size: 24px;
    padding-left: 5px;
    padding-right: 5px;

    .super {
      font-size: 8px;
    }
  }
}