.product-description {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // margin-left: 6px;
  margin-left: -9px;
  margin-top: 6px;
  height: 76px;
  flex: 1;

  &__copy {
    font-size: 15px;
  }

  &__code {
    font-size: 11px;
    line-height: 14px;
  }

  .expandable {
    padding: 3px 3px 0 3px;
    margin: -3px -3px 0 -3px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.1)
    }

    &.expanded {
      position: absolute;
      top: 0;
      background-color: $white;
      z-index: 10;
      padding: 2px;
      border: 1px solid $gray;
    }
  }
}

.product-box--vertical .product-description {
  margin: 0;
  margin-bottom: 2px;
  height: 136px;
  width: 112px;
  overflow-wrap: break-word;
}

.product-box--must-buy .product-description {
  color: $white;
  height: 69px;

  .expandable.expanded {
    background-color: $bg-red;
    border: none;
  }
}
