$black: #000000;
$white: #FFFFFF;
$gray: rgb(221, 221, 221);
$translucent-gray: rgba(0, 0, 0, 0.4);
$dark-gray: #5E636A;
$transparent: rgba(0, 0, 0, 0);

$red: #ED1C24;
$badge-red: #EC1C24;
$bg-red: #E42C1A;
$dark-red: #FF2D16;
$canada-red: #CC3221;
$light-pink: #f7dbd9;
$yellow: #FFD938;
$blue: #094494;
$bg-orange: #FF8525;
$orange: #FFB13E;
$dark-orange: #FF9027;
$beige: #FFFAD8;