@import 'reset.scss';
@import 'vars/_breakpoints.scss';
@import 'vars/_colors.scss';
@import 'misc.scss';
@import 'transitions.scss';
@import 'slider.scss';
@import 'components/PageHeader.scss';
@import 'components/ProductBox.scss';
@import 'components/CartButton.scss';
@import 'components/PriceBox.scss';
@import 'components/ProductDescription.scss';
@import 'components/ProductDisclaimer.scss';
@import 'components/PointsBadge.scss';
@import 'components/LogoBadge.scss';
@import 'components/InteractiveBadge.scss';
@import 'components/VariationHeader.scss';
@import 'components/VendorAd.scss';
@import 'components/Zevia.scss';
@import 'components/ViewAll.scss';
@import 'components/ListModal.scss';
@import 'index.scss';

body {
  background-color: rgba(0, 0, 0, 0.9);
}

@font-face {
  font-family: 'Univers LT Std';
  font-style: normal;
  font-weight: bold;
  font-stretch: condensed;
  src: url('../assets/fonts/2B816F_4_0.woff2') format('woff2');
}

@font-face {
  font-family: 'Univers LT Std';
  font-style: normal;
  font-weight: normal;
  font-stretch: ultra-condensed;
  src: url('../assets/fonts/2B816F_1_0.woff2') format('woff2');
}

@font-face {
  font-family: 'Sharp Grotesk';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/SharpGroteskBold25.otf');
}

@font-face {
  font-family: 'Sharp Grotesk';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/SharpGroteskSmBold20.otf');
}

@font-face {
  font-family: 'Sharp Grotesk 15';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/SharpGroteskSmBold15.otf');
}

@font-face {
  font-family: 'Sharp Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/SharpGroteskMedium25.otf');
}

@font-face {
  font-family: 'Sharp Grotesk';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/SharpGroteskBook20.otf');
}

@font-face {
  font-family: 'Noir Std';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/NoirStd-SemiBold.otf');
}

@font-face {
  font-family: 'Noir Std';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/NoirStd-Bold.otf');
}

@font-face {
  font-family: 'EMprint W01';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/EMprintW01-Semibold.ttf');
}

@font-face {
  font-family: 'EMprint W01';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/EMprintW01-Regular.ttf');
}

body {
  font-family: "Univers LT Std", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-stretch: condensed;
  text-rendering: optimizeLegibility;
}
