<div class="header__inner">
  <div class="header__left">
    <button class=" logo home-btn">
    </button>
    <h1>WEEKLY FLYER</h1>
    <div class="dates home-btn">
      <span>FRIDAY, AUGUST 16 TO <br>
        THURSDAY, AUGUST 22, 2019</span>
    </div>
  </div>

  <div id="addToList">0</div>

  <input type="search" id="search" placeholder="Search in flyer" class="searchmoto"/>
  <img src="/assets/icons/search.svg" class="search-icon">
  <button class="close-icon" type="reset">
    <svg viewBox="0 0 24 24">
      <polygon
        points="17.8,16.7 16.6,17.9 12,13.3 7.4,17.9 6.2,16.7 10.8,12.1 6.2,7.5 7.4,6.3 12,11 16.6,6.4 17.8,7.6 13.2,12.2">
      </polygon>
    </svg>
  </button>

  <div class="header__right" id="browseMenu">
    <button class="menu__trigger">
      <div class="nav__icon"></div>
      <div style="font: bold condensed 18px 'Univers LT Std';">BROWSE BY</div>
    </button>
    <nav class="menu">
      <button tabindex="-1" class="menu__click-away" aria-hidden="true"></button>
      <ul class="menu__dropdown">
        <li>
          <a class="home-btn" href="#">home</a>
        </li>
        <li>
          <a class="submenu__trigger" href="#">category</a>
          <ul class="submenu__dropdown hidden">
            <li>
              <a href="#" id="autodropdown">automotive</a>
            </li>
            <li>
              <a href="#">tools & hardware</a>
            </li>
            <li>
              <a href="#">home & essentials</a>
            </li>
            <li>
              <a href="#">sports & recreation</a>
            </li>
            <li>
              <a href="#"><p>outdoor</p> <p>living </p></a>
            </li>
          </ul>
        </li>
        <li>
          <a class="points" href="#">FRANK</a>
        </li>
        <li>
          <a class="promotion" href="#">CANVAS</a>
        </li>
        <li>
          <a class="seasonal" href="#">Mastercraft</a>
        </li>
        <li>
          <a class="biggestsavings" href="#" style="background-color: #FFB13E; color: black; font-weight: 600;">BIGGEST SAVINGS</a>
        </li>
        <li>
          <a class="all-offers" href="#">view all offers</a>
        </li>
      </ul>
    </nav>
  </div>
