<div class="product-box product-box--vertical product-box--vendor-ad product-box--pets pets">
  <div></div>
  <div class="vendor-slider">
    <div class="slide slide-1"></div>

    <div class="slide slide-2">
      <div class="product-box__image-wpr">
        <img class="product-box__image lazy" src="/assets/images/pets/1.png" alt="">
      </div>
      <div class="product-box__content">
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            IAMS Proactive Health cat food<br> selected varieties
            <span>1.58/1.59 kg</span>
          </div>
          <div class="product-description__code">
            21027556
          </div>
        </div>
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__price">
              <span>10</span>
              <span class="super">99</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slide slide-3">
      <div class="product-box__image-wpr">
        <img class="product-box__image lazy" src="/assets/images/pets/2.png" alt="">
      </div>
      <div class="product-box__content">
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            Whiskas cat food<br> selected varieties
            <span>12's</span>
          </div>
          <div class="product-description__code">
            20548822
          </div>
        </div>
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__price">
              <span>7</span>
              <span class="super">99</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slide slide-4">
      <div class="product-box__image-wpr">
        <img class="product-box__image lazy" src="/assets/images/pets/3.png" alt="">
      </div>
      <div class="product-box__content">
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            IAMS Proactive Health dog food<br> selected varieties
            <span>2.27/3.18 kg</span>
          </div>
          <div class="product-description__code">
            20912435
          </div>
        </div>
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__price">
              <span>11</span>
              <span class="super">99</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slide slide-5">
      <div class="product-box__image-wpr">
        <img class="product-box__image lazy" src="/assets/images/pets/4.png" alt="">
      </div>
      <div class="product-box__content">
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            Pedigree dry dog food<br> selected varieties
            <span>1.6/2 kg</span>
          </div>
          <div class="product-description__code">
            20653807
          </div>
        </div>
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__price">
              <span>7</span>
              <span class="super">99</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slide slide-6">
      <div class="product-box__image-wpr">
        <img class="product-box__image lazy" src="/assets/images/pets/5.png" alt="">
      </div>
      <div class="product-box__content">
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            Purina Beneful dog food<br> selected varieties
            <span>5.3/7 kg</span>
          </div>
          <div class="product-description__code">
            21041232
          </div>
        </div>
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__price">
              <span>18</span>
              <span class="super">99</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slide slide-7">
      <div class="product-box__image-wpr">
        <img class="product-box__image lazy" src="/assets/images/pets/6.png" alt="">
      </div>
      <div class="product-box__content">
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            Purina Cat or Kitten Chow<br> selected varieties
            <span>1.42-2 kg</span>
          </div>
          <div class="product-description__code">
            20319556001
          </div>
        </div>
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__price">
              <span>6</span>
              <span class="super">99</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slide slide-8">
      <div class="product-box__image-wpr">
        <img class="product-box__image lazy" src="/assets/images/pets/7.png" alt="">
      </div>
      <div class="product-box__content">
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            Purina Friskies cat food<br> selected varieties
            <span>1.4-1.5 kg</span>
          </div>
          <div class="product-description__code">
            20912515
          </div>
        </div>
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__price">
              <span>4</span>
              <span class="super">99</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slide slide-9">
      <div class="product-box__image-wpr">
        <img class="product-box__image lazy" src="/assets/images/pets/8.png" alt="">
      </div>
      <div class="product-box__content">
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            Purina Beyond cat food<br> selected varieties
            <span>1.36 kg</span>
          </div>
          <div class="product-description__code">
            21118646
          </div>
        </div>
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__price">
              <span>14</span>
              <span class="super">99</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slide slide-10">
      <div class="product-box__image-wpr">
        <img class="product-box__image lazy" src="/assets/images/pets/9.png" alt="">
      </div>
      <div class="product-box__content">
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            Milk-Bone dog treats<br> selected varieties
            <span>535-688 g</span>
          </div>
          <!-- <div class="product-description__code">
                    21118646
                  </div> -->
        </div>
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__price">
              <span>10</span>
              <span class="super">99</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slide slide-11">
      <div class="product-box__image-wpr">
        <img class="product-box__image lazy" src="/assets/images/pets/10.png" alt="">
      </div>
      <div class="product-box__content">
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            Meow Mix cat food<br> selected varieties
            <span>1.36-2 kg</span>
          </div>
          <div class="product-description__code">
            20096001001
          </div>
        </div>
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__price">
              <span>6</span>
              <span class="super">99</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slide slide-12">
      <div class="product-box__image-wpr">
        <img class="product-box__image lazy" src="/assets/images/pets/11.png" alt="">
      </div>
      <div class="product-box__content">
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            PC&reg; Nutrition First&reg; dry cat food<br> selected varieties
            <span>3/4 kg</span>
          </div>
          <div class="product-description__code">
            20138182
          </div>
        </div>
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__price">
              <span>16</span>
              <span class="super">99</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="slide slide-13">
      <div class="product-box__image-wpr">
        <img class="product-box__image lazy" src="/assets/images/pets/12.png" alt="">
      </div>
      <div class="product-box__content">
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            Arm & Hammer cat litter<br> selected varieties
            <span>6.4-12.7 kg</span>
          </div>
          <div class="product-description__code">
            21097017
          </div>
        </div>
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__price">
              <span>12</span>
              <span class="super">99</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
