<div class="product-box product-box--vendor-ad product-box--pets product-box--clean">
  <div></div>
  <div class="vendor-slider">
    <div class="slide slide-1"></div>

    <div class="slide slide-2">
      <div class="product-box__image-wpr">
        <img class="product-box__image lazy" src="/assets/images/clean/1.png" alt="">
      </div>
      <div class="product-box__content">
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__price">
              <span>8</span>
              <span class="super">99</span>
            </div>
          </div>
        </div>
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            Arm & HammerTM Liquid Laundry Detergent
            <span>selected varieties, 4.43L</span>
          </div>
        </div>
      </div>
    </div>

    <div class="slide slide-3">
      <div class="product-box__image-wpr">
        <img class="product-box__image lazy" src="/assets/images/clean/2.png" alt="">
      </div>
      <div class="product-box__content">
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__price">
              <span>4</span>
              <span class="super">99</span>
            </div>
          </div>
        </div>
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            Arm & HammerTM Liquid Laundry Detergent
            <span>selected varieties, 2.21L</span>
          </div>
        </div>
      </div>
    </div>

    <div class="slide slide-3">
      <div class="product-box__image-wpr">
        <img class="product-box__image lazy" src="/assets/images/clean/3.png" alt="">
      </div>
      <div class="product-box__content">
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__price">
              <span>6</span>
              <span class="super">99</span>
            </div>
          </div>
        </div>
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            OxiCleanTM Stain Remover Products
            <span>selected varieties, 680g - 750g</span>
          </div>
        </div>
      </div>
    </div>

    <div class="slide slide-4">
      <div class="product-box__image-wpr">
        <img class="product-box__image lazy" src="/assets/images/clean/4.png" alt="">
      </div>
      <div class="product-box__content">
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__price">
              <span>5</span>
              <span class="super">49</span>
            </div>
          </div>
        </div>
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            OxiCleanTM Laundry Pre-Treat Products
            <span>selected varieties, 183ml - 636ml</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
