<div class="product-box product-box--vendor-ad product-box--pets product-box--farm">
  <div></div>
  <div class="vendor-slider">
    <div class="slide slide-1">
      <div class="title">Your<br>local<br>farm</div>
    </div>

    <div class="slide slide-2">
      <h2>Andrewes Farms<span>Vineland Growers</span></h2>
      <p>With a rich and storied history of farming that dates back to 1896, the Andrewes family has always made it its mission to deliver on freshness. Located in beautiful Beamsville, Ont., and led by Chris Andrewes, a fifth-generation member of this family of dedicated growers, Andrewes Farm continues to grow and pack quality fruits, including peaches, nectarines, plums, and pears.</p>
    </div>

    <div class="slide slide-3">
      <div class="product-box__image-wpr">
        <img class="product-box__image lazy" src="/assets/images/localfarm/1.jpg" alt="">
      </div>
      <div class="product-box__content">
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__price">
              <span>4</span>
              <span class="super">99</span>
            </div>
          </div>
        </div>
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            Farmer’s MarketTM nectarines 2 L or peaches 3 L product of Ontario, Canada no 1. grade
          </div>
          <div class="product-description__code">
            20905336001/20826568001
          </div>
        </div>
      </div>
    </div>

    <div class="slide slide-3">
      <div class="product-box__image-wpr">
        <img class="product-box__image lazy" src="ContentImages/1382153.png" alt="">
      </div>
      <div class="product-box__content">
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__price">
              <span>4</span>
              <span class="super">99</span>
            </div>
          </div>
        </div>
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            PC® Organics coronation grapes product of Ontario, Canada no. 1 grade 2 L
          </div>
          <div class="product-description__code">
            20032253
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
