<div class="product-box product-box--buy-x-get product-box--buy1-get1 promotion">
  <div class="content">
    <div class="title">Buy 1 get</div>
    <div class="wpr">
      <div class="text">Brita water bottle</div>
      <div class="subtext">Save $5 19.99 ea</div>
      <div class="code">21012470001/21163994</div>
    </div>
    <div class="image-wpr">
      <include src="components/ProductImage.html" />
    </div>
  </div>

  <div class="content">
    <div class="title">Get 1 free</div>
    <div class="wpr">
      <div class="text">Brita filter 2 pack</div>
      <div class="code">21012470001/21163994</div>
    </div>
    <div class="image-wpr">
      <include src="components/ProductImage.html" />
    </div>
  </div>
</div>
