<div class="product-box product-box--zevia">

  <div class="bg"></div>

  <img src="/assets/images/zevia/header.png" class="header">

  <img src="/assets/images/zevia/can1.png" class="can can1">
  <img src="/assets/images/zevia/can5.png" class="can can5">
  <img src="/assets/images/zevia/can2.png" class="can can2">
  <img src="/assets/images/zevia/can4.png" class="can can4">
  <img src="/assets/images/zevia/can3.png" class="can can3">

  <img src="/assets/images/zevia/cta.png" class="cta">

  </div>
</div>
