<switch expression="Math.floor(Math.random() * 4)">
  <case n="0">
    <div class="product-box__image-wpr">
      <img class="product-box__image lazy" data-src="/assets/images/1.png" alt="">
    </div>
  </case>
  <case n="1">
    <div class="product-box__image-wpr">
      <img class="product-box__image lazy" data-src="/assets/images/2.png" alt="">
    </div>
  </case>
  <case n="2">
    <div class="product-box__image-wpr">
      <img class="product-box__image lazy" data-src="/assets/images/3.png" alt="">
    </div>
  </case>
  <case n="3">
    <div class="product-box__image-wpr">
      <img class="product-box__image lazy" data-src="/assets/images/4.png" alt="">
    </div>
  </case>
</switch>