<div class="product-box product-box--vendor-ad product-box--pets product-box--local-growers">
  <div></div>
  <div class="vendor-slider">
    <div class="slide slide-1"></div>

    <div class="slide slide-2"></div>

    <div class="slide slide-3">
      <div class="product-box__image-wpr">
        <img class="product-box__image lazy" src="/assets/images/localgrowers/1.png" alt="">
      </div>

      <div class="product-box__content">
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__variation local">
              <div class="price-box__variation-text">
                Ontario
              </div>
            </div>
            <div class="price-box__price">
              <span>3</span>
              <span class="super">49</span>
            </div>
          </div>
        </div>
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            large cauliflower<br> product of Ontario <br>each
          </div>
          <div class="product-description__code">
            20135377001
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
