        <div class="product-box product-box--weekly-feature animating" style="background-color: #FF2D16;">
                <!-- <video playsinline muted id="ThisWeeksFeaturesVideo">
                  <source src="/assets/videos/ThisWeeksFeatures.mp4" type="video/mp4">
                </video> -->
                <img class="big-banner" src="/assets/imagesCTC/big-banner.png" />
                <!-- <div class="red-alert-deals">
                    <img src="/assets/CategoryBlocks/left frequency lines.png">
                    <img src="/assets/CategoryBlocks/right frequency lines.png">
                    <img src="/assets/CategoryBlocks/red alert.png">
                    <img src="/assets/CategoryBlocks/deals.png">
                </div> -->
                <img class="red-alert-deals" src="/assets/imagesCTC/red-alert-deals.png" />
                <img class="view-all-button" src="/assets/imagesCTC/view-all-button.png" />
                <!-- <img class="view-all-button" src="/assets/imagesCTC/view-all-button.png" /> -->
                </div>