<div class="product-box product-box--vendor-ad product-box--pets product-box--farm farm2">
  <div></div>
  <div class="vendor-slider">
    <div class="slide slide-1">
      <div class="title">Your<br>local<br>farm</div>
    </div>

    <div class="slide slide-2">
      <h2>Topline Farms</h2>
      <p>Out in the fields of Leamington, Ont., Topline’s focus is on the vine. From plump, red tomatoes as big as your palm – the kind you slice, fan out on a plate and drizzle with olive oil, salt and torn basil – to sweet medley cherry tomatoes you can eat by the handful just as they are – and everything in between. Topline also grows cucumbers, and plenty of peppers – minis, sweet bell, spicy and more.</p>
    </div>

    <div class="slide slide-3">
      <div class="product-box__content">
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__variation multi">
              <div class="price-box__variation-text">
                Multi
              </div>
              <div class="price-box__variation-subtext">
                less than 2 $1.69 ea.
              </div>
            </div>
            <div class="price-box__price">
              <span class="super">2/$</span>
              <span>3</span>
            </div>
          </div>
        </div>
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            English Cucumber product of Ontario, Canada no 1. grade
          </div>
          <div class="product-description__code">
            20070132001
          </div>
        </div>
      </div>
    </div>

    <div class="slide slide-4">
      <div class="product-box__content">
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__price">
              <span>1</span>
              <span class="super">99</span>
            </div>
          </div>
        </div>
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            greenhouse beefsteak tomatoes product of Ontario, Canada no. 1 grade 4.39/kg
          </div>
          <div class="product-description__code">
            20426141001
          </div>
        </div>
      </div>
    </div>

    <div class="slide slide-5">
      <div class="yellow">
        <h3>Peppers: oven or grill?</h3>
        <p>Join our debates online.</p>
      </div>
      <ul>
        <li><a href="https://www.facebook.com/LoblawsON/" target="_blank"><img src="/assets/images/localfarm/facebook.png">@loblawson</a></li>
        <li><a href="https://www.instagram.com/loblawson/" target="_blank"><img src="/assets/images/localfarm/instagram.png">@loblawson</a></li>
      </ul>
      <div class="product-box__image-wpr">
        <img class="product-box__image lazy" src="/assets/images/localfarm/5.png" alt="">
      </div>
      <div class="product-box__content">
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__price">
              <span>4</span>
              <span class="super">99</span>
            </div>
          </div>
        </div>
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            Farmer’s MarketTM extra large peppers product of Ontario 3’s grade 4.39/
          </div>
          <div class="product-description__code">
            20085851001
          </div>
        </div>
      </div>
    </div>

    <div class="slide slide-6">
      <div class="product-box__image-wpr">
        <img class="product-box__image lazy" src="/assets/images/localfarm/6.png" alt="">
      </div>
      <div class="product-box__content">
        <div class="price-box">
          <div class="price-box__inner">
            <div class="price-box__price">
              <span>5</span>
              <span class="super">99</span>
            </div>
          </div>
        </div>
        <div class="product-description">
          <div class="product-description__copy" data-description="vendor ad">
            Farmer’s MarketTM mini cucumbers product of Ontario, Canada no. 1 grade15’s
          </div>
          <div class="product-description__code">
            21035960001
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
