<div class="product-box product-box--tp bounty">
  <div class="product-box__image-wpr">
    <img class="product-box__image lazy" src="/assets/images/TP/bounty.png" alt="">
  </div>
  <div class="product-box__content">
    <div class="price-box">
      <div class="price-box__inner">
        <div class="price-box__price">
          <span>19</span>
          <span class="super">99</span>
        </div>
      </div>
    </div>
    <div class="product-description">
      <div class="product-description__copy" data-description="vendor ad">
        <span>Bounty</span> paper towels<br>
        18=72 rolls,<br>
        selected varieties
      </div>
    </div>
  </div>
</div>

<div class="product-box product-box--tp charmin">
  <div class="product-box__image-wpr">
    <img class="product-box__image lazy" src="/assets/images/TP/charmin.png" alt="">
  </div>
  <div class="product-box__content">
    <div class="price-box">
      <div class="price-box__inner">
        <div class="price-box__price">
          <span>19</span>
          <span class="super">99</span>
        </div>
      </div>
    </div>
    <div class="product-description">
      <div class="product-description__copy" data-description="vendor ad">
        <span>Charmin</span> bath tissue<br>
        18=72 rolls,<br>
        selected varieties
      </div>
    </div>
  </div>
</div>

<div class="product-box product-box--tp puffs">
  <div class="product-box__image-wpr">
    <img class="product-box__image lazy" src="/assets/images/TP/puffs.png" alt="">
  </div>
  <div class="product-box__content">
    <div class="price-box">
      <div class="price-box__inner">
        <div class="price-box__price">
          <span>6</span>
          <span class="super">99</span>
        </div>
      </div>
    </div>
    <div class="product-description">
      <div class="product-description__copy" data-description="vendor ad">
        <span>Puffs</span> facial tissue<br>
        4 x 124 count,<br>
        selected varieties
      </div>
    </div>
  </div>
</div>
