<switch expression="Math.floor(Math.random() * 6)">
  <case n="1">
    <div class="price-box__variation local">
      <div class="price-box__variation-text">
        Ontario
      </div>
    </div>
  </case>
  <case n="2">
    <div class="price-box__variation sale">
      <div class="price-box__variation-text">
        Sale
      </div>
      <div class="price-box__variation-subtext">
        Save $2 lb
      </div>
    </div>
  </case>
  <case n="3">
    <div class="price-box__variation multi">
      <div class="price-box__variation-text">
        Multi
      </div>
      <div class="price-box__variation-subtext">
        less than $4.79 ea.
      </div>
    </div>
  </case>
  <case n="4">
    <div class="price-box__variation canada">
      <div class="price-box__variation-text">
        Canada
      </div>
    </div>
  </case>
  <case n="5">
    <div class="price-box__variation generic">
      <div class="price-box__variation-text">
        NOW AVAILABLE
      </div>
    </div>
  </case>
  <default>
    <div></div>
  </default>
</switch>
